x32/Profile/AltHistory
x32.old/Profile/AltHistory
x64.old/Profile/CrashLogs
x32/Profile/CrashLogs
x64/Profile/AltHistory
x64/Profile/CrashLogs
x64/ProfileWork/AltHistory
x64/ProfileWork/CrashLogs
x64/ProfileHome/AltHistory
x64/ProfileHome/CrashLogs
x32/ProfileWork/AltHistory
x32/ProfileWork/CrashLogs
x32/ProfileHome/AltHistory
x32/ProfileHome/CrashLogs
x64.old/Profile/AltHistory
x64.old/Profile/CrashLogs
Far.exe.ini
FarMenu.ini
#*.his
#*.xld
settings/
settings.*
history.db*
plugincache*.db*
shortcuts.db*
localconfig.db*
Plugins!/
Profile!/
